.logo {
  height: 100px;
  width: 150px;
}

.containerAntrian {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: #027dbb;
}

.nomorAntrian {
  color: #ffffff;
  font-size: 10rem;
}

.carousel {
  width: 100vw;
  height: 300px;
}

.carousel-item {
  width: 100vw;
  height: 300px;
}

.imageCarousel {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
